@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color: black !important;
}
.brand-logo,.hed{
    font-family: 'Grand Hotel', cursive;
}
.mycard{
    margin-top: 30px;
}
.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
}
.input-feild input[type=text]:focus{
    border-bottom: 1px solid #2093f1 !important;
    box-shadow: 0 1px 0 0 #1d84d8 !important;
}
.input-feild input[type=password]:focus{
    border-bottom: 1px solid #2093f1 !important;
    box-shadow: 0 1px 0 0 #1d84d8 !important;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    width: 30%;
    padding: 10px 0;
}

.home-card{
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}

#toast-container{
    top: 30px !important;
    right: 20px !important;
    left: auto !important;
}

.material-icons:hover{
    cursor: pointer;
}

.collection{
    display: flex;
    flex-direction: column;
}
.brand-logo{
    margin-left: 3rem;
}
.btnn {
    margin-right: 3rem;
  }
@media screen and  (max-width: 1000px) {
    .btnn {
      margin-left: 29px;
      margin-right: 0rem;
    }
    .search{
        font-size: 4rem;
        padding-top: 5px;
        margin-left: 17px;
        padding-left: 10px;

    }
    i.large {
        font-size: 3rem;
    }
    .brand-logo{
        margin-left: 0rem;
    }
  }

  nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 23px;
    height: 39px;
    line-height: 67px;
}
.flex1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img2{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    padding: 2px;
    margin: 9px 0px 2px 5px;
}
.hedi{
margin: 0;
padding: 10px !important;
width: 90%;
}
.delete{
    right: 0;
    
}